flows.json
[
    {
        "id": "c737e2cbf16bff78",
        "type": "tab",
        "label": "Startup",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f85f89256a27386d",
        "type": "tab",
        "label": "Getting Started",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "29a1dcee030266e5",
        "type": "tab",
        "label": "Sample data tactics",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0e5e8406f0ff4498",
        "type": "tab",
        "label": "Misc",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2092e77360f6dade",
        "type": "OL Connect Server",
        "url": "http://localhost:9340",
        "ignorecer": false,
        "name": "OL Connect Server",
        "disableProgress": false
    },
    {
        "id": "aa342e88ab08b866",
        "type": "inject",
        "z": "c737e2cbf16bff78",
        "name": "Startup",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "foo",
                "v": "ENV_OLGS",
                "vt": "env"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 120,
        "y": 160,
        "wires": [
            [
                "0aaa6a9cfb8170c3"
            ]
        ]
    },
    {
        "id": "0aaa6a9cfb8170c3",
        "type": "olfnf-folder-listing",
        "z": "c737e2cbf16bff78",
        "folder": "ENV_OLGS",
        "folder_type": "env",
        "sortby": "name",
        "subfolder": true,
        "filter": "files",
        "ignoreempty": false,
        "masks": "*.OL-template,*.OL-datamapper, *.OL-jobpreset, *.OL-outputpreset",
        "masksregex": false,
        "output": "paths",
        "name": "",
        "x": 270,
        "y": 160,
        "wires": [
            [
                "09e93da155629858"
            ]
        ]
    },
    {
        "id": "a52c9591a8e7bc18",
        "type": "debug",
        "z": "c737e2cbf16bff78",
        "name": "debug persisted files",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 160,
        "wires": []
    },
    {
        "id": "38afd96cd1fdb8da",
        "type": "olcnr-file-upload",
        "z": "c737e2cbf16bff78",
        "connect_server": "2092e77360f6dade",
        "filename": "payload",
        "filename_type": "msg",
        "deletefile": false,
        "fileDuration": "permanent",
        "name": "file store upload",
        "x": 560,
        "y": 160,
        "wires": [
            [
                "03784c82a9cb3e0f"
            ]
        ]
    },
    {
        "id": "09e93da155629858",
        "type": "split",
        "z": "c737e2cbf16bff78",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 410,
        "y": 160,
        "wires": [
            [
                "38afd96cd1fdb8da"
            ]
        ]
    },
    {
        "id": "ad3df1a2701ae07b",
        "type": "comment",
        "z": "c737e2cbf16bff78",
        "name": "Read me: Deploy resources to OL Connect's File Store on startup",
        "info": "Deploy OL Connect resources (templates, data mapping configurations, job presets, output presets) to OL Connect's File Store on deploying the flow to Node-RED.\n\n## Prerequisites\n - In the settings of the **file store upload** node, select the OL Connect Server to which the resources must be uploaded. \n - Create the following directory in the root of your drive before deploying this example:\n    - `\\workspace`\n - Place your OL Connect resources in this folder (or use subfolders). \n \n## Background information\nThe **inject** node is configured to trigger this flow once on deploying the flow. The resources overwrite any resources in the OL Connect Server that were previously uploaded. The **folder listing** node returns an array with file paths in `msg.payload`.\n\nThe **split** node iterates over the entries in  this array. Subsequently, the **file store upload** node uploads the file to the OL Connect Server.\n\nThis flow could be used to initialize context variables, or to send a notification that Node-RED has been restarted.",
        "x": 290,
        "y": 120,
        "wires": []
    },
    {
        "id": "7cdb2ee8e3f12453",
        "type": "comment",
        "z": "c737e2cbf16bff78",
        "name": "Example: startup flow",
        "info": "startup flows/01 - Deploy OL Connect resources.json",
        "x": 160,
        "y": 80,
        "wires": []
    },
    {
        "id": "03784c82a9cb3e0f",
        "type": "join",
        "z": "c737e2cbf16bff78",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "x": 710,
        "y": 160,
        "wires": [
            [
                "a52c9591a8e7bc18"
            ]
        ]
    },
    {
        "id": "39120d5a35d860de",
        "type": "olfnf-folder-capture-in",
        "z": "f85f89256a27386d",
        "folder": "$env(\"ENV_WORKSPACE\") & \"/gettingstarted/invoices/in/\"",
        "folder_type": "jsonata",
        "create_directory": true,
        "subfolder": false,
        "ignoreempty": true,
        "masks": "*.xml",
        "masksregex": false,
        "watchMethod": "fs",
        "name": "",
        "x": 130,
        "y": 480,
        "wires": [
            [
                "7756c0c3c370636b"
            ]
        ]
    },
    {
        "id": "7756c0c3c370636b",
        "type": "olcnr-data-mapping",
        "z": "f85f89256a27386d",
        "connect_server": "2092e77360f6dade",
        "dmConfiguration": "invoice.OL-datamapper",
        "active": false,
        "datafile": "filename",
        "datafile_type": "msg",
        "deletefile": false,
        "name": "",
        "x": 370,
        "y": 480,
        "wires": [
            [
                "5f36c43b6dd2d515"
            ]
        ]
    },
    {
        "id": "5f36c43b6dd2d515",
        "type": "olcnr-paginated-content",
        "z": "f85f89256a27386d",
        "connect_server": "2092e77360f6dade",
        "template": "invoice.OL-template",
        "name": "",
        "x": 600,
        "y": 480,
        "wires": [
            [
                "f1987038b784b0eb"
            ]
        ]
    },
    {
        "id": "4d7e15bf026e84bf",
        "type": "comment",
        "z": "f85f89256a27386d",
        "name": "Basic print content creation flow",
        "info": "",
        "x": 190,
        "y": 440,
        "wires": []
    },
    {
        "id": "f1987038b784b0eb",
        "type": "olcnr-paginated-output",
        "z": "f85f89256a27386d",
        "connect_server": "2092e77360f6dade",
        "outputPreset": "invoice-PDF.OL-outputpreset",
        "outputFolder": "C:\\workspace_olca\\gettingstarted\\invoices\\out\\",
        "outputFolder_type": "str",
        "create_directory": false,
        "outputFilesToFolder": "$env(\"ENV_WORKSPACE\") & \"/gettingstarted/invoices/out/\"",
        "outputFilesToFolder_type": "jsonata",
        "outputOptions": "sendFilesToFolder",
        "name": "",
        "x": 840,
        "y": 480,
        "wires": [
            [
                "ebe2423229eab236"
            ]
        ]
    },
    {
        "id": "ebe2423229eab236",
        "type": "olfnf-file-operations",
        "z": "f85f89256a27386d",
        "operation": "move",
        "source_file": "filename",
        "source_file_type": "msg",
        "target_file": "\"C:\\\\workspace_olca\\\\gettingstarted\\\\invoices\\\\out\\\\\" & file.basename ",
        "target_file_type": "jsonata",
        "create_directory": true,
        "name": "move data file",
        "x": 1060,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "22b60ee5e6ae7358",
        "type": "comment",
        "z": "f85f89256a27386d",
        "name": "Inject sample data",
        "info": "",
        "x": 150,
        "y": 300,
        "wires": []
    },
    {
        "id": "cca9b12c4c5ebafa",
        "type": "inject",
        "z": "f85f89256a27386d",
        "name": "10 records",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "invoices-10.xml",
        "x": 120,
        "y": 340,
        "wires": [
            [
                "2523b93b025e25e8"
            ]
        ]
    },
    {
        "id": "2523b93b025e25e8",
        "type": "olfnf-file-operations",
        "z": "f85f89256a27386d",
        "operation": "copy",
        "source_file": "$env(\"ENV_OLGS\") & \"/resources/invoice/data/\" & topic",
        "source_file_type": "jsonata",
        "target_file": "$env(\"ENV_WORKSPACE\") & \"/gettingstarted/invoices/in/\" & topic",
        "target_file_type": "jsonata",
        "create_directory": true,
        "name": "",
        "x": 340,
        "y": 340,
        "wires": [
            [
                "b8560970931e584f"
            ]
        ]
    },
    {
        "id": "d5a065795523170f",
        "type": "inject",
        "z": "f85f89256a27386d",
        "name": "100 records",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "invoices-100.xml",
        "x": 130,
        "y": 380,
        "wires": [
            [
                "2523b93b025e25e8"
            ]
        ]
    },
    {
        "id": "2fcc5c3e85c21376",
        "type": "http in",
        "z": "f85f89256a27386d",
        "name": "",
        "url": "certificate",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 120,
        "wires": [
            [
                "9777edb0585c6724"
            ]
        ]
    },
    {
        "id": "8745c1d074207c94",
        "type": "comment",
        "z": "f85f89256a27386d",
        "name": "Serving a PDF",
        "info": "",
        "x": 140,
        "y": 80,
        "wires": []
    },
    {
        "id": "9777edb0585c6724",
        "type": "olcnr-preview-pdf",
        "z": "f85f89256a27386d",
        "connect_server": "2092e77360f6dade",
        "template": "Certificate of Completion.OL-template",
        "name": "",
        "x": 390,
        "y": 120,
        "wires": [
            [
                "346109caf0968fd3"
            ]
        ]
    },
    {
        "id": "346109caf0968fd3",
        "type": "http response",
        "z": "f85f89256a27386d",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 610,
        "y": 120,
        "wires": []
    },
    {
        "id": "e28e349ff0c3ba5a",
        "type": "comment",
        "z": "f85f89256a27386d",
        "name": "Basic print content creation flow",
        "info": "",
        "x": 190,
        "y": 260,
        "wires": []
    },
    {
        "id": "b8560970931e584f",
        "type": "debug",
        "z": "f85f89256a27386d",
        "name": "debug invoice inject",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 340,
        "wires": []
    },
    {
        "id": "c6a3a04a6c864c73",
        "type": "function",
        "z": "0e5e8406f0ff4498",
        "name": "IsJanuary",
        "func": "const today = new Date();\n\n// getMonth() returns 0 = January, 1 = Feb, ...\nif (today.getMonth() === 0) {\n    return msg\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 120,
        "wires": [
            [
                "1c21970efb8ba9c9"
            ]
        ]
    },
    {
        "id": "1c21970efb8ba9c9",
        "type": "debug",
        "z": "0e5e8406f0ff4498",
        "name": "IsJanuary",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 120,
        "wires": []
    },
    {
        "id": "f81467edc95bbcfd",
        "type": "inject",
        "z": "0e5e8406f0ff4498",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 12 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "c6a3a04a6c864c73"
            ]
        ]
    },
    {
        "id": "764b1052eb0a76d7",
        "type": "function",
        "z": "0e5e8406f0ff4498",
        "name": "OddEvenDay",
        "func": "const today = new Date();\nconst day = today.getDate();\n\nif (day % 2 !== 0) {\n    // Output 1: Odd day\n    return [msg, null];\n} else {\n    // Output 2: Even day\n    return [null, msg];\n}",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 200,
        "wires": [
            [
                "c4018775483f9da5"
            ],
            [
                "9198b04787dc9dd9"
            ]
        ]
    },
    {
        "id": "c4018775483f9da5",
        "type": "debug",
        "z": "0e5e8406f0ff4498",
        "name": "IsOddDay",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 180,
        "wires": []
    },
    {
        "id": "c25836c1996c37a2",
        "type": "inject",
        "z": "0e5e8406f0ff4498",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 12 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 200,
        "wires": [
            [
                "764b1052eb0a76d7"
            ]
        ]
    },
    {
        "id": "9198b04787dc9dd9",
        "type": "debug",
        "z": "0e5e8406f0ff4498",
        "name": "IsEvenDay",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 220,
        "wires": []
    },
    {
        "id": "db03e46201ae8dc0",
        "type": "comment",
        "z": "0e5e8406f0ff4498",
        "name": "Scheduling flows",
        "info": "",
        "x": 140,
        "y": 80,
        "wires": []
    }
]